{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <p></p>
        <div class="row">
            <div class="col-sm-8">
                {% for cart_item in cart_items %}

                    <div class="col-sm-12">
                        <div class="card mb-4" style="max-width: 800px;">
                            <div class="card-header d-flex justify-content-between">
                                Featured
                                <a style="color: #818182;" href="{% url 'cart:remove_from_cart'  cart_item.id %} "
                                   role="button" class="text-center">
                                    <i class="far fa-window-close"></i>
                                </a>

                            </div>
                            <div class="row g-0">
                                <div class="col-md-2">
                                    <img class="card-img-top" style="margin: 20px"
                                         src="{% static 'img/perfume001.jpeg' %}" alt="perfume001 img">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ cart_item.name }}</h5>
                                        <p class="card-text">$ {{ cart_item.price }}.00</p>
                                        <p class="card-text">Ref id: {{ cart_item.id }}</p>
                                        <p class="card-text black-text">Total price: $
                                            {% widthratio cart_item.price 1 cart_item.quantity %}.00</p>
                                        <form method="POST" style="margin-left: 1rem"
                                              action="{% url 'cart:update_cart_item' %}">{% csrf_token %}
                                            <div class="row">
                                                <div class="form-outline" style="width: 30%">
                                                    <input type="number" name="quantity" id="quantity"
                                                           class="form-control"
                                                           value="{{ cart_item.quantity }}"/>
                                                </div>
                                                <button type="submit" class="btn btn-dark btn-rounded btn-sm"
                                                        data-mdb-ripple-color="dark" style="margin-bottom: 1rem">
                                                    Confirm
                                                </button>
                                                <div class="form-outline" style="width: 20%" hidden>
                                                    <input type="number" name="cart_item_id" id="cart_item_id"
                                                           class="form-control"
                                                           value="{{ cart_item.id }}"/>
                                                </div>

                                            </div>
                                        </form>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins
                                            ago</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="col-sm-12">
                    <div class="card mb-4" style="max-width: 800px;">
                        <div class="card-header text-center">
                            Total: $ {{ total_price }}.00
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="card mb-4 align-items-center" style="max-width: 800px;">
                        <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                                style="width: 100%">
                            Checkout
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-header">Notes</div>
                    <div class="card-body text-center">
                        <img class="card-img-top" style="margin: 20px;width:60%;"
                             src="{% static 'img/gift-box.jpeg' %}" alt="gift box img">
                        <h5 class="card-title">The grey box</h5>
                        <p class="card-text">
                            All orders are delivered in an grey box tied with a Bolduc ribbon, with the exception of
                            certain items.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
