{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <p></p>
        <div class="top-form">
            <form method="POST" action="">{% csrf_token %}
                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-item">
                            <div class="label">Category</div>
                            <div class="input">
                                <select
                                        class="form-select form-select-inline"
                                >
                                    {% for category in categories %}
                                        <option value="all">{{ category }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-2" style="margin-top: 5px; margin-bottom: 15px">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Apply Filters</button>
                    </div>
                    <div class="col-auto">
                        <button type="reset" class="btn btn-light">Reset Filters</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">

            <div class="col-sm-8">
                {% for product in products %}

                    <div class="col-sm-8">
                        <div class="card mb-4" style="max-width: 800px;">
                            <div class="card-header d-flex justify-content-between"></div>
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img class="card-img-top" style="margin: 20px"
                                         src="{% static product.pic_address %}" alt="perfume001 img">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                        <p class="card-text">$ {{ product.price|floatformat:2 }}</p>

                                        <p class="card-text"><small class="text-muted">Total
                                            Stock: {{ product.total_stock }}</small></p>
                                        <p class="card-text"><small
                                                class="text-muted">Description: {{ product.description }}</small></p>

                                        <form method="POST" action="{% url 'cart:add_to_cart' %}">{% csrf_token %}
                                            <input type="number" name="product_id"
                                                   class="form-control"
                                                   value="{{ product.id }}" hidden/>
                                            <div>
                                                <button type="submit" class="btn btn-primary">Add to cart</button>
                                            </div>
                                        </form>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
